<!DOCTYPE html>
<html lang="en">

<head>
  {{template "head"}}
  <title>Bewerbung: {{.Application.Character.Name}}</title>
</head>

<body>
  {{template "navigation" .}}
  <section class="container mt-3 mt-lg-8" id="content">
    <div class="row">
      <!--general information & application status-->
      <section class="row mb-3">
        <div class="col ps-0">
          <section class="row">
            <h4 class="">Charakter</h4>
            <div class="col">
              <!--name-->
              <div class="row">
                <div class="col">
                  <span>Name: </span>
                </div>
                <div class="col">
                  <span>{{.Application.Character.Name}}</span>
                </div>
              </div>
              <!--gearscore-->
              <div class="row">
                <div class="col">
                  <span>Gewicht: </span>
                </div>
                <div class="col">
                  <span>{{.Application.Character.Equipment_weight}}</span>
                </div>
              </div>
              <!--armor-weight-->
              <div class="row">
                <div class="col">
                  <span>Gearscore: </span>
                </div>
                <div class="col">
                  <span>{{.Application.Character.Gearscore}}</span>
                </div>
              </div>
            </div>
            <div class="col-lg-8">
              <!--discord-tag-->
              <div class="row">
                <div class="col-lg-4">
                  <span>Discord Tag: </span>
                </div>
                <div class="col">
                  <span>{{.Application.Discord_tag}}</span>
                </div>
              </div>
              <form action="/applications/{{.Application.Id}}/accepted" method="post" id="accepted">
                <!--company-->
                <div class="row">
                  <div class="col-lg-4">
                    <span>Kompanie</span>
                  </div>
                  <div class="col">
                    <select class="form-select form-select-sm btn-outline-primary" name="company" required>
                      <option selected disabled hidden value="">Wähle eine Kompanie</option>
                      <option value="The Forgotten">The Forgotten</option>
                      <option value="The Forgotten II">The Forgotten II</option>
                    </select>
                  </div>
                </div>
                <!--permission level-->
                <div class="row">
                  <div class="col-lg-4">
                    <span>Rang</span>
                  </div>
                  <div class="col">
                    <select class="form-select form-select-sm btn-outline-primary" name="permission-level" required>
                      <option selected disabled hidden value="">Wähle einen Rang</option>
                      {{if gt .Session.User.Permission_level 0}}<option value="0">Siedler</option>{{end}}
                      {{if gt .Session.User.Permission_level 200}}<option value="200">Offizier</option>{{end}}
                      {{if gt .Session.User.Permission_level 400}}<option value="400">Konsul</option>{{end}}
                      {{if gt .Session.User.Permission_level 600}}<option value="600">Gouverneur</option>{{end}}
                    </select>
                  </div>
                </div>
              </form>
            </div>
          </section>
        </div>
        <!--application status-->
        <div class="col">
          <section class="row">
            <h4>Bewerbungsstatus</h4>
            <div class="row">
              <div class="col-lg-3">
                <span>beworben am</span>
              </div>
              <div class="col">
                <span>
                  {{.Application.Date.Day}}.{{.Application.Date.Month}}.{{.Application.Date.Year}}</span>
              </div>
            </div>
            <div class="row">
              <div class="col-lg-3">
                <span>Status</span>
              </div>
              <div class="col">
                {{if eq .Application.Status "abgelehnt"}}
                <span class="text-danger fw-bold">{{.Application.Status}}</span>
                {{else}}
                <span>{{.Application.Status}}</span>
                {{end}}
              </div>
            </div>
            <div class="row mt-lg-3">
              {{if ne .Application.Status "angenommen"}}
              <div class="col">
                <button class="btn btn-sm btn-success" form="accepted">Bewerbung annehmen</button>
              </div>
              {{end}}
              {{if ne .Application.Status "abgelehnt"}}
              <div class="col">
                <form action="/applications/{{.Application.Id}}/rejected" method="post" id="rejected"></form>
                <button class="btn btn-sm btn-danger" form="rejected">Bewerbung ablehnen</button>
              </div>
              {{end}}
            </div>
          </section>
        </div>
      </section>
      <!--roles, weapons & attributes-->
      <section class="row mb-3">
        <div class="col ps-0">
          <!--roles-->
          <section class="row mb-2">
            <h5>Rollen</h5>
            {{range $roleID := .Application.Character.Roles}}
            <div class="col-auto">
              {{getRoleName $roleID}}
            </div>
            {{end}}
          </section>
          <!--weapons-->
          <section class="row">
            <h5>Waffen</h5>
            {{range $weaponID := .Application.Character.Weapons}}
            <div class="col-auto">
              {{getWeaponName $weaponID}}
            </div>
            {{end}}
          </section>
        </div>
        <!--attributes-->
        <div class="col ps-0">
          <h5>Attribute</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Stärke</th>
                <th scope="col">Geschicklichkeit</th>
                <th scope="col">Intelligenz</th>
                <th scope="col">Fokus</th>
                <th scope="col">Konstitution</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{.User.Character.Attributes.Strength}}</td>
                <td>{{.User.Character.Attributes.Dexterity}}</td>
                <td>{{.User.Character.Attributes.Intelligence}}</td>
                <td>{{.User.Character.Attributes.Focus}}</td>
                <td>{{.User.Character.Attributes.Constitution}}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </section>
      <!--refining-jobs-->
      <section class="row mb-3">
        <h5 class="ps-0">Veredelungsberufe</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Schmelzen</th>
              <th scope="col">Holzverarbeitung</th>
              <th scope="col">Lederverarbeitung</th>
              <th scope="col">Weberei</th>
              <th scope="col">Steinmetzkunst</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{if .Application.Character.Refining_jobs.Smelting}}X{{else}}-{{end}}</td>
              <td>{{if .Application.Character.Refining_jobs.Woodworking}}X{{else}}-{{end}}</td>
              <td>{{if .Application.Character.Refining_jobs.Tanning}}X{{else}}-{{end}}</td>
              <td>{{if .Application.Character.Refining_jobs.Weaving}}X{{else}}-{{end}}</td>
              <td>{{if .Application.Character.Refining_jobs.Stonecutting}}X{{else}}-{{end}}</td>
            </tr>
          </tbody>
        </table>
      </section>
      <!--crafting-jobs-->
      <section class="row mb-3">
        <h5 class="ps-0">Herstellungsberufe</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Waffenschmiedekunst</th>
              <th scope="col">Rüstungsschmiedekunst</th>
              <th scope="col">Ingenieurskunst</th>
              <th scope="col">Juwelenschleiferei</th>
              <th scope="col">Arkana</th>
              <th scope="col">Kochkunst</th>
              <th scope="col">Tischlerei</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{if .Application.Character.Crafting_jobs.Weaponsmithing}}X{{else}}-{{end}}</td>
              <td>{{if .Application.Character.Crafting_jobs.Armoring}}X{{else}}-{{end}}</td>
              <td>{{if .Application.Character.Crafting_jobs.Engineering}}X{{else}}-{{end}}</td>
              <td>{{if .Application.Character.Crafting_jobs.Jewelcrafting}}X{{else}}-{{end}}</td>
              <td>{{if .Application.Character.Crafting_jobs.Arcana}}X{{else}}-{{end}}</td>
              <td>{{if .Application.Character.Crafting_jobs.Cooking}}X{{else}}-{{end}}</td>
              <td>{{if .Application.Character.Crafting_jobs.Furnishing}}X{{else}}-{{end}}</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </section>
  {{template "footer"}}
</body>