<!DOCTYPE html>
<html lang="en">

<head>
  {{template "head"}}
  <title>War Loadouts</title>
</head>

<body>
  {{template "navigation" .}}
  <section class="container" id="content">
    <nav>
      <div class="nav nav-tabs" id="nav-tab" role="tablist">
        {{range $role := .Roles}}
        <button class="nav-link" id="{{$role.tag}}-tab" data-bs-toggle="tab" data-bs-target="#{{$role.tag}}"
          type="button" role="tab" aria-controls="{{$role.tag}}" aria-selected="false">{{$role.name}}</button>
        {{end}}
      </div>
    </nav>
    <div class="tab-content" id="nav-tabContent">
      {{range $role := .Roles}}
      <div class="tab-pane fade" id="{{$role.tag}}" role="tabpanel" aria-labelledby="{{$role.tag}}-tab">
        <div class="row">
          <div class="col-8 bg-dark">
            <img src="..." class="card-img-top" alt="Grafik">
          </div>
          <div class="col bg-danger">
            {{$role.name}}
          </div>
        </div>
      </div>
    </div>
  </section>
  {{template "footer"}}
</body>