<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head"}}
    <title>Passwort ändern</title>
</head>

<body>
    {{template "navigation" .}}
    <section class="container mt-3 mt-lg-8" id="content">
        <form action="/members/{{.Session.User.Id}}/changePassword" method="post">
            <div class="mb-3">
                <input type="password" class="form-control" name="oldPassword" placeholder="Altes Passwort">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="newPassword" placeholder="Neues Passwort">
            </div>
            <div class="mb-3">
                <input type="password" class="form-control" name="newRepeatPassword"
                    placeholder="Neues Passwort wiederholen">
            </div>
            <button type="submit" class="btn btn-success">Passwort ändern</button>
        </form>
    </section>
    {{template "footer"}}
</body>