<!DOCTYPE html>
<html lang="en">

<head>
  {{template "head"}}
  <title>The Forgotten</title>
</head>

<body>
  {{template "navigation" .}}
  <div aria-live="polite" aria-atomic="true" class="position-relative">
    <div class="toast-container position-absolute p-3 top-0 start-50 translate-middle-x" id="toastPlacement">
      <div class="toast" id="applicationSuccessToast">
        <div class="toast-header">
          <strong class="me-auto">Bewerbung</strong>
        </div>
        <div class="toast-body">
          Die Bewerbung wurde erfolgreich versendet!
        </div>
      </div>
    </div>
  </div>
  <section class="container mt-3 mt-lg-5" id="content">
    <div class="row mb-8">
      <img src="/static/images/Forgotten_banner.png" class="img-fluid">
    </div>
    <div class="row">
      <div class="col">
        <img src="/static/logo/company_logo.png" class="img-fluid ms-lg-7">
      </div>
      <div class="col mt-lg-5">
        <h4>Über uns</h4>
        <p>Wir suchen noch positive Eigenschaften die man hier nennen könnte. Eigentlich sind wir aber ganz nett.</p>
      </div>
    </div>
  </section>
  {{template "footer"}}
</body>