<!DOCTYPE html>
<html lang="en">

<head>
  {{template "head"}}
  <title>Vanguard NW</title>
</head>

<body>
  {{template "navigation" .}}
  <!-- Toast after successful application start -->
  <div aria-live="assertive" aria-atomic="true" class="position-relative">
    <div class="toast-container position-absolute p-3 top-0 start-50 translate-middle-x" id="toastPlacement">
      <div class="toast bg-dark" id="applicationSuccessToast" data-bs-autohide="false">
        <div class="toast-header">
          <strong class="me-auto">Bewerbung</strong>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
        </div>
        <div class="toast-body">
          <p>Die Bewerbung wurde erfolgreich versendet!</p>
          <p>Der Status der Bewerbung kann unter "Bewerbungen" eingesehen werden. Falls die Bewerbung dort nicht zu
            finden ist, sollte ein Offizier benachrichtigt werden.</p>
        </div>
      </div>
    </div>
  </div>
  <!-- Toast after successful application end -->
  <section class="container mt-3 mt-lg-5" id="content">
    <div class="row mb-8">
      <img src="/static/images/Forgotten_banner.png" class="img-fluid">
    </div>
    <div class="row">
      <div class="col">
        <img src="/static/logo/company_logo.png" class="img-fluid ms-lg-7">
      </div>
      <div class="col mt-lg-5">
        <h4>Über uns</h4>
        <p>Wir suchen noch positive Eigenschaften die man hier nennen könnte. Eigentlich sind wir aber ganz nett.</p>
      </div>
    </div>
  </section>
  {{template "footer"}}
</body>