<!DOCTYPE html>
<html lang="en">

<head>
  {{template "head"}}
  <title>The Forgotten - Bewerbung</title>
</head>

<body>
  {{template "navigation"}}
  <section class="container mt-3 mt-lg-8" id="content">
    <form action="/recruitment" method="post" id="recruitment-form">
      <div class="row">
        <!--row 1 company guidelines-->
        <div class="col-lg order-lg-2" id="company-guidelines">
          <h4 class="mb-3">Kompanie Richtlinien</h4>
          <div class="accordion mb-3" id="accordion-company-guidelines">
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingOne">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                  Kompaniesteuer
                </button>
              </h2>
              <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                data-bs-parent="#accordion-company-guidelines">
                <div class="accordion-body">
                  <label for="company-taxes" class="form-check-label">Ich bin damit einverstanden eine wöchentliche
                    Kompaniesteuer, in Höhe von 500G, zu entrichten. Durch die Kompaniesteuer werden u.a. Angriffskriege
                    sowie Städteupgrades finanziert.</label>
                  <input class="form-check-input me-1" type="checkbox" value="" id="company-taxes" required>
                  <span class="col-auto text-danger fw-bolder invisible" id="company-taxes-invalid">Du musst die
                    Richtlinie
                    akzeptieren!</span>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingTwo">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                  Kompanieaktivitäten
                </button>
              </h2>
              <div id="collapseTwo" class="accordion-collapse collapse" aria-labelledby="headingTwo"
                data-bs-parent="#accordion-company-guidelines">
                <div class="accordion-body">
                  <label for="pvp-activity" class="form-check-label">Ich bin damit einverstanden regelmäßig an
                    Kompanieaktivitäten, z.B. PvP Quests laufen oder Elite Runs, teilzunehmen.</label>
                  <input class="form-check-input me-1" type="checkbox" value="" id="pvp-activity" required>
                  <span class="col-auto text-danger fw-bolder invisible" id="pvp-activity-invalid">Du musst die
                    Richtlinie
                    akzeptieren!</span>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingThree">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                  Flexibilität
                </button>
              </h2>
              <div id="collapseThree" class="accordion-collapse collapse" aria-labelledby="headingThree"
                data-bs-parent="#accordion-company-guidelines">
                <div class="accordion-body">
                  <label for="equipment-flexibility" class="form-check-label">Ich bin damit einverstanden mein Equipment
                    für Kriege / Invasionen, nach Vorgaben der Kompanieleitung oder einer der Kompanieleitung
                    freigegebenen Builds, anzupassen.</label>
                  <input class="form-check-input me-1" type="checkbox" value="" id="equipment-flexibility" required>
                  <span class="col-auto text-danger fw-bolder invisible" id="equipment-flexibility-invalid">Du musst die
                    Richtlinie akzeptieren!</span>
                </div>
              </div>
            </div>
            <div class="accordion-item">
              <h2 class="accordion-header" id="headingFour">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse"
                  data-bs-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
                  Discord
                </button>
              </h2>
              <div id="collapseFour" class="accordion-collapse collapse" aria-labelledby="headingFour"
                data-bs-parent="#accordion-company-guidelines">
                <div class="accordion-body">
                  <label for="discord-activity" class="form-check-label">Ich bin damit einverstanden mich während
                    gemeinsamer Kompanieaktivitäten auf dem Discord einzufinden, zwecks besserer Kommunikation.</label>
                  <input class="form-check-input me-1" type="checkbox" value="" id="discord-activity" required>
                  <span class="col-auto text-danger fw-bolder invisible" id="discord-activity-invalid">Du musst die
                    Richtlinie
                    akzeptieren!</span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--row 2 character-->
        <div class="col-lg order-lg-1" id="character-and-old-relationships">
          <div class="col">
            {{template "character-form"}}
          </div>
          <!--old company-relationships-->
          <div class="col mb-3">
            <h4 class="mb-2">Vorherige Kompaniezugehörigkeit</h4>
            <!-- 
              <p class="form-label">select all factions you've been in</p>
            <div class="row mb-3">
              <div class="col d-flex">
                <input type="checkbox" class="btn-check" id="Marauder" autocomplete="off">
                <label class="btn btn-primary mx-auto" for="Marauder">Marauder</label>
              </div>
              <div class="col d-flex">
                <input type="checkbox" class="btn-check" id="Syndicate" autocomplete="off">
                <label class="btn btn-primary mx-auto" for="Syndicate">Syndicate</label>
              </div>
              <div class="col d-flex">
                <input type="checkbox" class="btn-check" id="Covenant" autocomplete="off">
                <label class="btn btn-primary mx-auto" for="Covenant">Covenant</label>
              </div>
            </div> 
          -->
            <input type="text" class="form-control" placeholder="Bitte benenne die letzte Kompanie bei der du Mitglied gewesen bist" name="old-companies"></input>
          </div>
          <!--<button type="button" class="btn btn-primary" onclick="validateForm()">Bewerbung abschicken</button>-->
        </div>
      </div>
    </form>

  </section>
  {{template "footer"}}
  <script src="/static/js/recruitment.js"></script>
</body>