<!DOCTYPE html>
<html lang="en">

<head>
  {{template "head"}}
  <title>Bewerbung: {{.RecruitmentEntry.Character.Name}}</title>
</head>

<body>
  {{template "navigation" .}}
  <section class="container mt-3 mt-lg-8" id="content">
    <div class="row">
      <!--character-->
      <div class="col-lg">
        <!--general information-->
        <section class="row mb-3">
          <h4 class="">Charakter</h4>
          <div class="col">
            <!--name-->
            <div class="row">
              <div class="col">
                <span>Name: </span>
              </div>
              <div class="col">
                <span>{{.RecruitmentEntry.Character.Name}}</span>
              </div>
            </div>
            <!--gearscore-->
            <div class="row">
              <div class="col">
                <span>Gearscore: </span>
              </div>
              <div class="col">
                <span>{{.RecruitmentEntry.Character.Gearscore}}</span>
              </div>
            </div>
          </div>
          <div class="col">
            <form action="/recruitments/{{.RecruitmentEntry.Id}}/accepted" method="post" id="accepted">
              <!--company-->
              <div class="row">
                <div class="col-lg-3">
                  <span>Kompanie</span>
                </div>
                <div class="col">
                  <select class="form-select form-select-sm" name="company" required>
                    <option selected disabled hidden value="">Wähle eine Kompanie aus</option>
                    <option value="The Forgotten">The Forgotten</option>
                    <option value="The Forgotten II">The Forgotten II</option>
                  </select>
                </div>
              </div>
              <!--permission level-->
              <div class="row">
                <div class="col-lg-3">
                  <span>Rang</span>
                </div>
                <div class="col">
                  <select class="form-select form-select-sm" name="permission-level" required>
                    <option selected disabled hidden value="">Wähle einen Rang aus</option>
                    {{if gt .Session.User.Permission_Level 0}}<option value="0">Siedler</option>{{end}}
                    {{if gt .Session.User.Permission_Level 200}}<option value="200">Offizier</option>{{end}}
                    {{if gt .Session.User.Permission_Level 400}}<option value="400">Konsul</option>{{end}}
                    {{if gt .Session.User.Permission_Level 600}}<option value="600">Gouverneur</option>{{end}}
                  </select>
                </div>
              </div>
            </form>
          </div>
        </section>
        <!--attributes-->
        <section class="row">
          <h5>Attribute</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">Stärke</th>
                <th scope="col">Geschicklichkeit</th>
                <th scope="col">Intelligenz</th>
                <th scope="col">Fokus</th>
                <th scope="col">Konstitution</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{.RecruitmentEntry.Character.Attributes.Strength}}</td>
                <td>{{.RecruitmentEntry.Character.Attributes.Dexterity}}</td>
                <td>{{.RecruitmentEntry.Character.Attributes.Intelligence}}</td>
                <td>{{.RecruitmentEntry.Character.Attributes.Focus}}</td>
                <td>{{.RecruitmentEntry.Character.Attributes.Constitution}}</td>
              </tr>
            </tbody>
          </table>
        </section>
        <!--rols-->
        <section class="row">
          <h5>Rollen</h5>
          <table class="table">
            <thead>
              <tr>
                <th scope="col">DD</th>
                <th scope="col">Tank</th>
                <th scope="col">Heal</th>
                <th scope="col">Siege</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>{{if .RecruitmentEntry.Character.Roles.DD}}X{{else}}-{{end}}</td>
                <td>{{if .RecruitmentEntry.Character.Roles.Tank}}X{{else}}-{{end}}</td>
                <td>{{if .RecruitmentEntry.Character.Roles.Heal}}X{{else}}-{{end}}</td>
                <td>{{if .RecruitmentEntry.Character.Roles.Siege}}X{{else}}-{{end}}</td>
              </tr>
            </tbody>
          </table>
        </section>
      </div>
      <!--recruitment status-->
      <div class="col-lg">
        <section class="row">
          <h4>Bewerbungsstatus</h4>
          <div class="row">
            <div class="col-lg-3">
              <span>beworben am</span>
            </div>
            <div class="col">
              <span>
                {{.RecruitmentEntry.Date.Day}}.{{.RecruitmentEntry.Date.Month}}.{{.RecruitmentEntry.Date.Year}}</span>
            </div>
          </div>
          <div class="row">
            <div class="col-lg-3">
              <span>Status</span>
            </div>
            <div class="col">
              {{if eq .RecruitmentEntry.Status "abgelehnt"}}
              <span class="text-danger fw-bold">{{.RecruitmentEntry.Status}}</span>
              {{end}}
              {{if eq .RecruitmentEntry.Status "angenommen"}}
              <span class="text-success fw-bold">{{.RecruitmentEntry.Status}}</span>
              {{end}}
            </div>
          </div>
          <div class="row mt-lg-3">
            {{if ne .RecruitmentEntry.Status "angenommen"}}
            <div class="col">
              <button class="btn btn-success" form="accepted">Bewerbung annehmen</button>
            </div>
            {{end}}
            {{if ne .RecruitmentEntry.Status "abgelehnt"}}
            <div class="col">
              <form action="/recruitments/{{.RecruitmentEntry.Id}}/rejected" method="post" id="rejected"></form>
              <button class="btn btn-danger" form="rejected">Bewerbung ablehnen</button>
            </div>
            {{end}}
          </div>
        </section>
      </div>
      <!--weapons-->
      <section class="row">
        <h5>Waffen</h5>
        <table class="table">
          <thead>
            <tr>
              <th scope="col">Schwert</th>
              <th scope="col">Schild</th>
              <th scope="col">Rapier</th>
              <th scope="col">Axt</th>
              <th scope="col">Speer</th>
              <th scope="col">Großaxt</th>
              <th scope="col">Kriegshammer</th>
              <th scope="col">Bogen</th>
              <th scope="col">Muskete</th>
              <th scope="col">Feuerstab</th>
              <th scope="col">Lebensstab</th>
              <th scope="col">Eisstulpen</th>
              <th scope="col">Unheilsstulpen</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{if .RecruitmentEntry.Character.Weapons.Sword}}X{{else}}-{{end}}</td>
              <td>{{if .RecruitmentEntry.Character.Weapons.Shield}}X{{else}}-{{end}}</td>
              <td>{{if .RecruitmentEntry.Character.Weapons.Rapier}}X{{else}}-{{end}}</td>
              <td>{{if .RecruitmentEntry.Character.Weapons.Hatchet}}X{{else}}-{{end}}</td>
              <td>{{if .RecruitmentEntry.Character.Weapons.Spear}}X{{else}}-{{end}}</td>
              <td>{{if .RecruitmentEntry.Character.Weapons.Great_Axe}}X{{else}}-{{end}}</td>
              <td>{{if .RecruitmentEntry.Character.Weapons.Warhammer}}X{{else}}-{{end}}</td>
              <td>{{if .RecruitmentEntry.Character.Weapons.Bow}}X{{else}}-{{end}}</td>
              <td>{{if .RecruitmentEntry.Character.Weapons.Musket}}X{{else}}-{{end}}</td>
              <td>{{if .RecruitmentEntry.Character.Weapons.Firestaff}}X{{else}}-{{end}}</td>
              <td>{{if .RecruitmentEntry.Character.Weapons.Lifestaff}}X{{else}}-{{end}}</td>
              <td>{{if .RecruitmentEntry.Character.Weapons.Ice_Gauntlet}}X{{else}}-{{end}}</td>
              <td>{{if .RecruitmentEntry.Character.Weapons.Void_Gauntlet}}X{{else}}-{{end}}</td>
            </tr>
          </tbody>
        </table>
      </section>
    </div>
  </section>
  {{template "footer"}}
</body>