<!DOCTYPE html>
<html lang="en">

<head>
  {{template "head"}}
  <title>Mitglieder</title>
</head>

<body>
  {{template "navigation" .}}
  <section class="container mt-3 mt-lg-8" id="content">
    <table class="table table-hover">
      <thead>
        <tr>
          <th scope="col">#</th>
          <th scope="col">Charaktername</th>
          <th scope="col">Rang</th>
          <th scope="col">Discord-Tag</th>
          <th scope="col">Rollen</th>
          <th scope="col">Beigetreten am</th>
        </tr>
      </thead>
      <tbody>
        {{range $index, $user := .Users}}
        <tr onclick="openUser({{$user._id}})">
          <th scope="row">{{add $index 1}}</th>
          <td>{{$user.character.name}}</td>
          <td>
            {{convertPermissionLevel $user}}
          </td>
          <td>{{$user.discord_tag}}</td>
          <td>
            {{range $role := $user.character.roles}}
            <span class="btn btn-outline-primary disabled py-1 px-2">{{getRoleName $role}}</span>
            {{end}}
          </td>
          <td>{{$user.date.day}}.{{$user.date.month}}.{{$user.date.year}}</td>
          </a>
        </tr>
        {{end}}
      </tbody>
    </table>
  </section>
  {{template "footer"}}
  <script src="/static/js/row_link.js"></script>
</body>