<!DOCTYPE html>
<html lang="en">
{{$user := .User}}

<head>
    {{template "head"}}
    <title>{{.User.Character.Name}}</title>
</head>

<body>
    {{template "navigation" .}}
    <!-- Modal-Delete-Warning -->
    <div class="modal fade" id="deleteUserModal" tabindex="-1" aria-labelledby="deleteUserModalLabel"
        aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="deleteUserModalLabel">{{$user.Character.Name}} löschen?</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <a href="/members/{{.User.Id}}/delete" class="btn btn-danger">Profil löschen</a>
                    <button type="button" class="btn btn-primary" data-bs-dismiss="modal">Nein</button>
                </div>
            </div>
        </div>
    </div>
    <section class="container mt-3 mt-lg-8 px-3 px-lg-auto" id="content">
        <div class="row mb-3">
            <!-- character -->
            <div class="col-lg-6 ps-0">
                <!--general information-->
                <section class="row">
                    <h4>{{.User.Character.Name}}</h4>
                    <div class="col">
                        <!--date-->
                        <div class="row">
                            <div class="col">
                                <span>Mitglied seit: </span>
                            </div>
                            <div class="col">
                                <span>{{.User.Date.Day}}.{{.User.Date.Month}}.{{.User.Date.Year}}</span>
                            </div>
                        </div>
                        <!--armor-weight-->
                        <div class="row">
                            <div class="col">
                                <span>Gewicht: </span>
                            </div>
                            <div class="col">
                                <span>{{.User.Character.Equipment_weight}}</span>
                            </div>
                        </div>
                        <!--gearscore-->
                        <div class="row">
                            <div class="col">
                                <span>Gearscore: </span>
                            </div>
                            <div class="col">
                                <span>{{.User.Character.Gearscore}}</span>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <!--discord-tag-->
                        <div class="row">
                            <div class="col-lg-4">
                                <span>Discord Tag: </span>
                            </div>
                            <div class="col">
                                <span>{{.User.Discord_tag}}</span>
                            </div>
                        </div>
                        <!--company-->
                        <div class="row">
                            <div class="col-lg-4">
                                <span>Kompanie: </span>
                            </div>
                            <div class="col">
                                {{.User.Company}}
                            </div>
                        </div>
                        <!--permission level-->
                        <div class="row">
                            <div class="col-lg-4">
                                <span>Rang:</span>
                            </div>
                            <div class="col">
                                {{.User.ConvertPermissionLevel}}
                            </div>
                        </div>
                    </div>
                </section>
            </div>
            <!-- buttons -->
            <div class="col-lg-3 my-auto">
                <div class="row mb-2">
                    <a href="/members" class="btn btn-outline-primary btn-sm text-white">
                        <img src="/static/icons/arrow-left.svg" alt="" srcset=""> Zurück zur Mitgliederliste
                    </a>
                </div>
                {{if ge .Session.User.Permission_level 200}}
                <div class="row">
                    <a href="/members/{{.User.Id}}/edit" class="btn btn-primary btn-sm col me-1">Profil bearbeiten</a>
                    <!-- Button trigger modal -->
                    <button type="button" class="btn btn-danger btn-sm col ms-1" data-bs-toggle="modal"
                        data-bs-target="#deleteUserModal">
                        Profil löschen
                    </button>
                </div>
                {{end}}
            </div>
            {{if .User.Password_tmp}}
            <div class="col px-0 px-lg-2 mt-1 my-lg-auto">
                <div>
                    <a class="btn btn-danger btn-sm" data-bs-toggle="collapse" href="#collapseExample" role="button"
                        aria-expanded="false" aria-controls="collapseExample">
                        temporäres Passwort anzeigen
                    </a>
                    <div class="collapse mt-2" id="collapseExample">
                        <div class="card card-body p-1 text-black">
                            {{.User.Password_tmp}}
                        </div>
                    </div>
                </div>
            </div>
            {{end}}
        </div>
        <!--roles, weapons & attributes-->
        <section class="row">
            <div class="col ps-0">
                <!--roles-->
                {{template "roles" .User.Character}}
                <!--weapons-->
                {{template "weapons" .User.Character}}
            </div>
            <!--attributes-->
            <div class="col ps-0">
                <div class="row align-items-end h-100">
                    <div class="col">
                        {{template "attributes" .User.Character}}
                    </div>
                </div>
            </div>
        </section>
        <!-- jobs -->
        {{template "jobs" .User.Character}}
    </section>
    {{template "footer"}}
</body>