{{define "navigation"}}
<nav class="navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand me-0" href="/">
            <img src="/static/logo/company_logo.png" alt="" height="50rem">
        </a>
        <a href="/">
            <h4 class="navbar-text fw-bolder align-self-center text-white">The Forgotten</h4>
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
            aria-controls="offcanvasNavbar">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="offcanvas offcanvas-start bg-transparent" tabindex="-1" id="offcanvasNavbar"
            aria-labelledby="offcanvasNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasNavbarLabel"></h5>
                <button type="button" class="btn-close btn-close-white text-reset" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>

            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <h5>Öffentlich</h5>
                        <div class="col ps-3">
                            <a class="nav-link" aria-current="page" href="/">Home</a>
                            <a class="nav-link" href="/applications">Bewerbungen</a>
                            <a class="nav-link" href="/applications/new">Bewirb dich!</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <hr class="dropdown-divider">
                    </li>
                    <!-- Logged in area start -->
                    {{if .Session.LoggedIn}}
                    <li class="nav-item">
                        <h5>Eingeloggt</h5>
                        <div class="col ps-3">
                            <a class="nav-link" href="/members/{{.Session.User.Id}}">Profil</a>
                            <a class="nav-link" href="/builds">Waffenbuilds</a>
                            <a class="nav-link" href="/members/{{.Session.User.Company}}">Mitgliederliste</a>
                            <a class="nav-link" href="/members/{{.Session.User.Company}}/taxes">Steuerliste</a>
                        </div>
                    </li>
                    <li class="nav-item">
                        <hr class="dropdown-divider">
                    </li>
                    {{if ne .Session.User.Password_tmp ""}}
                    <li class="nav-item">
                        <a class="nav-link" href="/members/{{.Session.User.Id}}/changePassword">Passwort ändern</a>
                    </li>
                    {{end}}
                    <li class="nav-item">
                        <a class="nav-link" href="/logout">Logout</a>
                    </li>
                    <!-- Logged in area start -->
                    {{else}}
                    <li class="nav-item">
                        <a class="nav-link" href="" data-bs-toggle="modal" data-bs-target="#loginModal">Login</a>
                    </li>
                    {{end}}
                </ul>
            </div>
        </div>
    </div>
</nav>

<!-- Modal -->
<div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="loginModalLabel"></h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form action="/login" method="post" id="login">
                    <div class="mb-3">
                        <label class="form-label">Username</label>
                        <a data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top"
                            data-bs-content="Der Username ist der ingame Charaktername kleingeschrieben und ohne Leerzeichen.">
                            <img src="/static/icons/info-circle.svg" class="ms-2">
                        </a>
                        <input type="text" class="form-control" name="username" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Passwort</label>
                        <a data-bs-toggle="popover" data-bs-trigger="hover" data-bs-placement="top"
                            data-bs-content="Das erste Passwort ist ein automatisch erstelltes temporäres Passwort, welches schnellstmöglich geändert werden sollte. Das Passwort kannst du bei einem Offizier oder Höherranigem erfragen.">
                            <img src="/static/icons/info-circle.svg" class="ms-2">
                        </a>
                        <input type="password" class="form-control" name="password" aria-describedby="passwordHelper"
                            required>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="submit" form="login" class="btn btn-outline-primary">Login</button>
            </div>
        </div>
    </div>
</div>
{{end}}