<!DOCTYPE html>
<html lang="en">

<head>
    {{template "head"}}
    <title>Rolle editieren</title>
</head>

<body>
    {{template "navigation" .}}
    <section class="container" id="content">
        <form action="/roles/{{.Role.Id}}/edit" method="post" enctype="multipart/form-data">
            <input type="text" name="name" class="form-control mb-3" placeholder="{{.Role.Name}}">
            <!-- general -->
            <section class="mb-3">
                <div class="col-lg">
                    <h5 class="">Attribute</h5>
                    <table class="table">
                        <thead>
                            <tr>
                                <th scope="col">Stärke</th>
                                <th scope="col">Geschicklichkeit</th>
                                <th scope="col">Intelligenz</th>
                                <th scope="col">Fokus</th>
                                <th scope="col">Konstitution</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>
                                    <input type="text" class="form-control-plaintext"
                                        placeholder="{{.Role.Attributes.Strength}}" name="strength">
                                </td>
                                <td>
                                    <input type="text" class="form-control-plaintext"
                                        placeholder="{{.Role.Attributes.Dexterity}}" name="dexterity">
                                </td>
                                <td>
                                    <input type="text" class="form-control-plaintext"
                                        placeholder="{{.Role.Attributes.Intelligence}}" name="intelligence">
                                </td>
                                <td>
                                    <input type="text" class="form-control-plaintext"
                                        placeholder="{{.Role.Attributes.Focus}}" name="focus">
                                </td>
                                <td>
                                    <input type="text" class="form-control-plaintext"
                                        placeholder="{{.Role.Attributes.Constitution}}" name="constitution">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="col-lg">
                    <h5>Beschreibung</h5>
                    <textarea name="description" class="form-control" placeholder="{{.Role.Description}}"></textarea>
                </div>
                <div class="col-lg">
                    <h5>Zusätzliche Infos</h5>
                    <textarea name="note" class="form-control" placeholder="{{.Role.Note}}"></textarea>
                </div>
            </section>
            <hr class="dropdown-divider">
            <!-- armor & jewelry-->
            <section class="mb-3">
                <div class="col-lg">
                    <h5>Rüstung</h5>
                    <div class="row mb-2 pe-3">
                        <p class="col">Gewicht</p>
                        <select class="form-select btn-outline-light col ms-3" name="armor-weight">
                            <option value="">{{.Role.Armor.Weight}}</option>
                            <option value="Leicht">Leicht</option>
                            <option value="Medium">Medium</option>
                            <option value="Schwer">Schwer</option>
                        </select>
                    </div>
                    {{template "gemPerkEdit" .Role.Armor}}
                </div>
                <hr class="dropdown-divider">
                <div class="col-lg">
                    <h5>Amulet</h5>
                    {{template "gemPerkEdit" .Role.Amulet}}
                </div>
                <hr class="dropdown-divider">
                <div class="col-lg">
                    <h5>Ring</h5>
                    {{template "gemPerkEdit" .Role.Ring}}
                </div>
                <hr class="dropdown-divider">
                <div class="col-lg">
                    <h5>Ohrring</h5>
                    {{template "gemPerkEdit" .Role.Earring}}

                </div>
            </section>
            <hr class="dropdown-divider">
            <!-- weapons -->
            <section class="row mb-3">
                <div class="col-lg">
                    <input type="text" name="weapon-1-name" class="form-control col mb-2"
                        placeholder="{{.Role.Weapon_main.Name}}">
                    <div class="row mb-2 pe-3">
                        <p class="col">Gem</p>
                        <input type="text" name="weapon-1-gem" class="form-control col"
                            placeholder="{{.Role.Weapon_main.Gem}}">
                    </div>
                    <div class="row mb-2 pe-3">
                        <p class="col">Perks</p>
                        <textarea name="weapon-1-perks" class="form-control col"
                            placeholder="{{range $perk := .Role.Weapon_main.Perks}}{{$perk}}, {{end}}"></textarea>
                    </div>
                    <input type="file" name="weapon-1-file" class="form-control form-control-sm">
                    <img src="{{.Role.Weapon_main.Skillpoints_image}}" class="img-fluid">
                </div>
                <div class="col-lg">
                    <input type="text" name="weapon-2-name" class="form-control col mb-2"
                        placeholder="{{.Role.Weapon_secondary.Name}}">
                    <div class="row mb-2 pe-3">
                        <p class="col">Gem</p>
                        <input type="text" name="weapon-2-gem" class="form-control col"
                            placeholder="{{.Role.Weapon_secondary.Gem}}">
                    </div>
                    <div class="row mb-2 pe-3">
                        <p class="col">Perks</p>
                        <textarea name="weapon-2-perks" class="form-control col"
                            placeholder="{{range $perk := .Role.Weapon_secondary.Perks}}{{$perk}}, {{end}}"></textarea>
                    </div>
                    <input type="file" name="weapon-2-file" class="form-control form-control-sm">
                    <img src="{{.Role.Weapon_secondary.Skillpoints_image}}" class="img-fluid">
                </div>
            </section>
            <button type="submit" class="btn btn-success">Änderungen speichern</button>
        </form>
    </section>

    {{template "footer"}}
</body>